<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">LMS</a>
            </div>
            <div class="nav me-auto">
                <a href="/books" class="nav-link navbar-text">Book List</a>
                <a href="/reading-list" class="nav-link navbar-text">Reading List</a>
            </div>
        </div>
    </nav>
</header>