<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">LMS</a>
            </div>
            <div class="nav me-auto">
                <a href="#" class="nav-link navbar-text">Home</a>
                <a href="#" class="nav-link navbar-text">Accounts</a>
                <a href="#" class="nav-link navbar-text">Settings</a>
            </div>
        </div>
    </nav>
</header>